<%= link_to user_post_path(user, post) do %>
  <div class="post">
    <div class="content">
      <h3>Post #<%= post_no+1 %> </h3>
      <p> <%= post.title %> </p>
    </div>
    <div class="comments-likes">
      <div class="like-comment-btn">
        <%= form_with model: @like, url: user_post_likes_path(post_id: post.id, user_id: user.id) do |form| %>
          <%= form.submit "Like", class: "btn" %>
          <button class="btn"><%= link_to 'Add comment', new_user_post_comment_path(user, post) %></button>
        <% end %>
      </div>
      <div class="content">
        Comments: <span class="comments-value"> <%= post.comments_counter %></span>, Likes: <span class="likes-value"> <%= post.likes_counter %> </span>
      </div>
    </div>
  </div>
<% end %>
